body{
    background-color: white;
    background-image: url(../pictures/back.jpg);
    background-size: 100%;
}

img{
    width: 100%;
}

.kiskep{
    height: 75%;
    width: 100%;
    margin-bottom: 15%;
}

.footer{
    background-color: gray;
    width: 100%;
}

.backcolor{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

h6{
    color: yellow;
    text-align: center;
}

.jobb{
    float: left;
}

.bal{
    float: right;
}

.cim{
    padding-left: 10px;
    font-size: small;
}

strong{
    font-size: 130%;
    text-decoration: underline;
}

.szoveg{
    font-size: 110%;
    padding-bottom: 4%;
}